.checkout-produce{
    display: flex;
    width: 500px;
    height: 150px;
    flex-direction: row;
    margin-left: 30px;
    margin-top: 150px;
    border-radius: 10px;
    box-shadow: 3px 3px 1px gray;
    background-color: rgb(251, 255, 255) !important;
    align-items: center;
}
.checkout-produce .p{
    margin-left: 30px;
    font-weight: 600;
    font-size: large;
}
.chechout-rating{
    position: relative;
    margin-left: -100px;
}

.img{
    width: 100px;
    height: 100px;
}

.checkout-info{
    display: flex;
    flex-direction: column;
}

.btn{
    position: relative;
    margin-top: 90px;
    margin-left: 210px;
    border-radius: 5px;
    background-color: rgb(24, 185, 191);
    font-weight: 800;
    outline: none;
    border: 1px;
    box-shadow: .8px .8px 1px gray;
    cursor: pointer;
}
