.header {
  display: flex;
  flex-direction: row !important;
  position: fixed;
  width: 1560px;
  margin-top: -10px;
  margin-left: -10px;
  height: 80px;
  background-color: black;
  color: aliceblue;
  z-index: 7;
}
