.logoM{
    display: flex;
    position: absolute;
    margin-top: 10px;
    margin-left: 30px;
    align-items: center;
    cursor: pointer;
}
.brand{
    margin-left: 20px;
    font-size: 30px;
    font-weight: bolder;
}